streamlit
# Utilitites 
numpy
pandas

# FACE RECOGNITION
scikit-learn #SVM 
dlib-bin  # Face detection
git+https://github.com/ageitgey/face_recognition_models  #vector points
setuptools<70.0.0


supabase  # database
bcrypt    # hashing for security to password



segno  # creates QRcode using url
pillow  # helpes in image preprocessing



librosa  # edit and load the audio files
resemblyzer # comparing and identifing the same voice or not